.weatherLocationCont{
    width: 400px;
    padding: 15px;
    font-family: 'Roboto' sans-serif;
}

.locationCont{
    width: 100%;
    height: 35px;
    text-align: left;
    padding-left: 10px;
    color: #888888;
}